Django==5.2.1
djangorestframework==3.16.0
gunicorn
python-decouple==3.8
python-dotenv==1.2.2
groq==0.37.1
pdfplumber==0.11.10
requests==2.34.2
psycopg2-binary==2.9.10
dj-database-url==2.3.0
langchain-groq==1.1.3