{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>📄 Upload Candidate CV</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Candidate Name:</label>
        <input type="text" name="name" placeholder="Full name" required>
        <label>Email:</label>
        <input type="email" name="email" placeholder="email@example.com" required>
        <label>Apply For:</label>
        <select name="job" required>
            {% for job in jobs %}
            <option value="{{ job.id }}">{{ job.title }}</option>
            {% endfor %}
        </select>
        <label>Upload CV (PDF only):</label>
        <input type="file" name="cv_file" accept=".pdf" required>
        <button type="submit" class="btn btn-success">Upload & Analyze</button>
    </form>
</div>
{% endblock %}